/* Import fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500");

/* 1. Content elements */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  background: #222222;
  color: #ebebea;
  font-family: "Roboto Mono", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  position: relative;
  border-bottom: 1px solid #f8f8f6;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #ffc491;
  border-bottom: 1px solid #ffc491;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:focus {
  outline: 0;
}

.text {
  font-weight: 500;
  line-height: 150%;
}

.text.large {
  font-size: 1.2rem;
}

.text.small,
.text.tiny {
  font-weight: 100;
}
.text.small {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

.text.tiny {
  font-size: 0.7rem;
}

.text.tiny.tags {
  opacity: 0.5;
}

section {
  position: relative;
  padding: 96px 0 96px 96px;
  width: calc(100vw - 96px - 10rem);
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

section.bio {
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-pack: justify;
}

section.bio p {
  max-width: 720px;
}

section.bio .logo {
  background: url("./logo.svg") no-repeat;
  background-position: top left, top left;
  background-repeat: no-repeat;
  background-size: auto, auto 100%;
  width: 42px;
  height: 50px;
  padding: 0;
  margin: 0;
}

section.bio p .contact {
  display: none;
}

@media (max-width: 1024px) {
  section {
    padding: 48px 0 48px 48px;
    width: calc(100vw - 48px - 7em);
  }
}

@media (max-width: 950px) {
  section {
    padding: 7.5vw;
    width: 100%;
  }
}

@media (max-width: 600px) {
  section {
    display: block;
    min-height: 0;
  }
}

.column-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

@media (max-width: 600px) {
  .column-section-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

.col-section {
  width: 100%;
  max-width: 382px;
}

@media (max-width: 600px) {
  section.bio p {
    padding-top: 6rem;
  }
}

.list {
  margin-top: 3em;
  padding-right: 1.5rem;
}

.separator {
  margin-bottom: 2rem;
}

footer {
  position: fixed;
  right: 96px;
  bottom: 92px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: end;
  align-items: flex-end;
  z-index: 1;
}

footer .link {
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  footer {
    right: 48px;
    bottom: 48px;
  }
}

@media (max-width: 950px) {
  footer {
    position: relative;
    right: auto;
    bottom: auto;
    padding: 0 7.5vw 7.5vw;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  footer .link {
    display: inline;
  }
}
